html, body{
    height: 100%
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: auto;
}


#content{
    position: absolute;
    text-align: center;
}

#footer {
    text-align: right;
}
